*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-1: rgb(73, 94, 87); /* #495e57 */
  --primary-2: rgb(244, 206, 20); /* #f4ce14 */
  --secondary-1: rgb(238, 153, 114); /* #ee9972 */
  --highlight-1: rgb(237, 239, 238); /* #edefee */
  --highlight-2: rgb(51, 51, 51); /* #333333 */
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

li {
  list-style: none;
}

button,
input,
select {
  font-family: inherit;
}

/* -- Utilities -- */
.container {
  max-width: 88rem;
  margin: 0 auto;
  padding: 0 4rem;
}

.display-title,
.subtitle {
  font-family: 'Markazi Text', serif;
}

.display-title {
  color: var(--primary-2);
  font-size: 6.4rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: -1rem;
}

.subtitle {
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 2.4rem;
}

.lead-text {
  font-size: 1.8rem;
  font-weight: 500;
}

.section-title {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 800;
}

.section-category {
  font-size: 1.6rem;
  font-weight: 800;
}

.card-title {
  font-size: 1.8rem;
  font-weight: 700;
}

.highlight-text {
  font-size: 1.6rem;
  font-weight: 500;
}

.paragraph {
  line-height: 1.5;
  max-width: 65ch;
}

.error {
  color: red;
  font-size: 1.2rem;
  text-align: left;
}

/* -- PRIMARY BUTTON -- */

.button-primary {
  background-color: var(--primary-2);
  color: #000;
  position: relative;
  padding: 0.8em 1.6em;
  border-radius: 1.6rem;
  position: relative;
  overflow: hidden;
  border: 0.1rem solid transparent;
  transition: all 0.3s;
}

.button-primary span {
  position: relative;
  z-index: 2;
}

.button-primary::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--highlight-2);
  transition: all 0.3s;
}

.button-primary:hover {
  border-color: var(--primary-2);
}

.button-primary:hover span {
  color: #fff;
}

.button-primary:hover::after {
  width: 100%;
}

.button-primary:disabled,
.border-primary:disabled:hover,
.button-primary:disabled::after,
.button-primary:disabled span {
  background-color: var(--highlight-1);
  color: var(--highlight-2);
  border-color: transparent;
}

/* -- HEADER & NAV -- */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.main-nav__list {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.main-nav__link {
  font-weight: 700;
  position: relative;
  overflow: hidden;
}

.main-nav__link.active::after,
.main-nav__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--primary-2);
  transition: width 0.3s;
}

.main-nav__link.active::after,
.main-nav__link:hover::after {
  width: 100%;
}

/* -- MOBILE NAV -- */
.main-nav__btn {
  padding: 0.5em;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: none;
}

/* -- App container -- */
.wrapper {
  min-height: calc(100vh - 7.7rem);
  display: flex;
  flex-direction: column;
}

/* -- PAGE HEADING -- */

.page-heading {
  background-color: var(--primary-1);
  text-align: center;
  padding: 2rem;
}

.page-heading > .subtitle {
  color: var(--primary-2);
  margin-bottom: auto;
}

.page-heading > .lead-text {
  color: #fff;
}

/* -- HERO SECTION -- */
.hero {
  background-color: var(--primary-1);
  height: 32rem;
  padding-top: 2.4rem;
}

.hero-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}

.hero .subtitle {
  color: #fff;
}

.hero .lead-text {
  color: #fff;
  margin-bottom: 2rem;
}

.hero__cta.lead-text {
  color: #000;
}

.hero__cta,
.specials__cta {
  display: inline-block;
  padding: 0.8em 1em;
  border-radius: 1.6rem;
}

.hero__img {
  height: 35rem;
  width: 100%;
  border-radius: 1.6rem;
  object-fit: cover;
}

/* -- SPECIALS -- */
.specials {
  padding-top: 8.4em;
  padding-bottom: 3.2em;
}

.specials__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.specials__item {
  background-color: var(--highlight-1);
  padding-bottom: 1em;
  cursor: pointer;
  transition: all 0.3s;
}

.specials__item:hover {
  transform: scale(1.02);
}

.specials__content {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0.8em;
  height: 20rem;
  justify-content: space-between;
}

.specials__heading {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 4rem;
}

.specials__item {
  border-radius: 1.6rem;
}

.specials__img {
  border-top-left-radius: 1.6rem;
  border-top-right-radius: 1.6rem;
}

.specials__img {
  width: 100%;
  max-height: 17.3rem;
  object-fit: cover;
}

.specials__title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.specials__title {
  font-weight: bold;
  font-size: 1.8rem;
}

.specials__price {
  color: var(--secondary-1);
  font-weight: bold;
}

.specials__delivery-btn {
  font-weight: bold;
}

.specials__delivery-btn::after {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url('./images/delivery.svg');
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-left: 0.8em;
  position: relative;
  top: 0.2rem;
}

/* -- FOOTER -- */
.footer {
  background-color: var(--highlight-1);
  padding: 2.4rem;
  font-size: 1.2rem;
  margin-top: auto;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 1rem;
  row-gap: 1rem;
}

.footer__logo {
  max-height: 10rem;
  width: auto;
  object-fit: contain;
}

.footer__content,
.footer__content-column {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.footer__heading {
  font-weight: 800;
}

.footer__nav a:hover {
  color: var(--primary-1);
}

.social-media {
  display: flex;
}

.social-icon {
  width: 2.4rem;
  height: auto;
}

/* -- BOOKING FORM -- */

.booking-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2.4rem auto;
  max-width: 48rem;
}

.booking-form__field {
  width: 38rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

.booking-form__field > label {
  font-weight: 700;
}

/* replace default arrow/chevron */
.booking-form__field > select {
  appearance: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
  background-position: 100%;
  background-repeat: no-repeat;
  padding: 1rem 1.6rem;
  border-radius: 1.6rem;
}

.booking-form__input {
  flex: 1;
  padding: 1rem 1.6rem;
  border: 0.15rem solid;
  border-radius: 1.6rem;
  border-color: var(--highlight-1);
  width: 100%;
}

.booking-form__input.button-primary {
  cursor: pointer;
}

/* -- CONFIRMED BOOKING -- */
.confirmed-booking {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 8rem 3rem;
  text-align: center;
}

.confirmed-booking > .check-circle-icon {
  fill: var(--primary-1);
  width: 6.4rem;
  height: 6.4rem;
}

.confirmed-booking > .subtitle {
  margin-bottom: auto;
}

/* -- UNDER CONSTRUCTION -- */
.under-construction {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.8rem 3rem 4rem 1.8rem;
}

.under-construction > .subtitle,
.under-construction p {
  text-align: center;
  max-width: 45ch;
}

.under-construction > .subtitle {
  margin-bottom: 0.4rem;
  line-height: 0.9;
}

.under-construction__image {
  max-width: 20rem;
}

.fade-in {
  animation: fade-in 0.5s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsive Design */
@media (min-width: 600px) {
  .specials__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .specials__heading > .subtitle {
    font-size: 3rem;
  }
}

@media (max-width: 700px) {
  .hero-grid {
    grid-template-columns: 1fr;
  }

  .hero__img {
    display: none;
  }

  .specials {
    padding-top: 4.8rem;
  }
}

@media (max-width: 850px) {
  .main-nav__btn {
    display: block;
  }

  .main-nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    background-color: var(--primary-2);
    z-index: 1000;
    transition: 0.3s;
  }

  .main-nav__list {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1.5rem;
    font-size: 2rem;
  }

  .toggle-nav {
    transform: translateY(100vh);
  }

  .close-btn {
    position: absolute;
    top: 2rem;
    right: 4rem;
  }

  .main-nav__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--primary-1);
    transition: width 0.3s;
  }

  .main-nav__link:hover::after {
    width: 100%;
  }

  .footer-grid {
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    row-gap: 2.4rem;
  }
}

@media (min-width: 900px) {
  .specials__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
